body {
    font-family: 'Noto Sans', Arial, sans-serif;
    color: #212121;
    font-size: 16px;
}
.navbar-main {
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    background-color: #212121;
    margin-top: 0;
}
.navbar-main .navbar-toggle .icon-bar
{
    background-color: #fff;
}
.navbar-main .navbar-toggle
{
    margin-top: 13px;
}
.navbar-brand {
    color: #fff;
    font-size: 24px;
    line-height: inherit;
    margin-bottom: -1px;
    height: auto;
}
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: #fff;
        text-decoration: underline;
    }
a {
    color: #0277bb;
}

    a:hover {
    color: #01476f;
    }
    a:focus,
    .btn-link:focus {
    background-color: #FFC35E;
    outline: 3px solid #FFC35E;
    outline-offset: -1px;
    }
.navbar-nav>li>a
{
    color: #fff;
}
.navbar-main .open > a,
.navbar-main .open > a:hover,
.navbar-main .open > a:focus,
.navbar-nav > li > a:hover
{
    background-color: inherit;
    text-decoration: underline;
}
.navbar-main .navbar-nav > li > a:focus
{
    background-color: #ffc35e;
    text-decoration: underline;
    color: #000;
}
.navbar-main .navbar-nav
{
    margin-top: 6px;
}
.page-header {
    margin-top: 0;
}
.page-header h2, .page-header .lead
{
    color: #6f777b;
    font-size: 24px;
}
section > .page-header {
    margin-top: 1em;
}
section form[role="form"]
{
    margin-top: 40px;
}
.form-group {
    margin-bottom: 40px;
}
.form-group label {
    margin-bottom: 10px;
}
h1 {
    font-size: 48px;
    font-weight: 700;
}
h1 > small { display: block; }
h2, .h2 {
    font-size: 36px;
}
h4, .h4 {
font-size: 19px;
}
.form-control {
    height: 36px;
    padding: 7px 12px;
    font-size: 16px;
    margin: 2px 0;
}
@media screen and (max-width:767px)
{
    .lead
    {
        font-size: 18px;
    }
}


.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
/* Tighten up space between multiple callouts */
.callout + .callout {
  margin-top: -5px;
}
/* Variations */
.callout-danger {
  border-left-color: #ce4844;
}
.callout-danger h4 {
  color: #ce4844;
}
.callout-warning {
  border-left-color: #aa6708;
}
.callout-warning h4 {
  color: #aa6708;
}
.callout-info {
  border-left-color: #1b809e;
}
.callout-info h4 {
  color: #1b809e;
}
